# Groq API Key (get from console.groq.com)
GROQ_API_KEY=your_groq_api_key_here

# Local Chroma database directory
CHROMA_DB_DIR=chroma_db

# local huggingface embeddings model
EMBEDDING_MODEL_NAME=all-MiniLM-L6-v2

# LLM model
LLM_MODEL_NAME=llama3-8b-8192

# AWS Credentials (leave blank for local fallback)
AWS_ACCESS_KEY_ID=your_aws_access_key_here
AWS_SECRET_ACCESS_KEY=your_aws_secret_key_here
AWS_REGION=us-east-1
AWS_S3_BUCKET_NAME=your_s3_bucket_name_here
